@font-face {
  font-family: 'Minecraft';
  src: url('../assets/fonts/minecraft/Minecraft-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft-Bold';
  src: url('../assets/fonts/minecraft/Minecraft-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft-Bolder';
  src: url('../assets/fonts/minecraft/MinecraftTen-VGORe.ttf')
    format('truetype');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert-regular';
  src: url('../assets/fonts/roobert-regular/Roobert-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('../assets/fonts/avenirNextCyr/AvenirNextCyr-Regular.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
